In [ ]:
x = 7
y = "data"

print(x)
print(y)

my_variable = 10
print(my_variable)

my_variable += 5 #adds 5 to the previous value of the variable
print(my_variable)

7
data
10
15

Working with Strings

In [12]:
"I am a MSBA student."

question = "What are you studying?"
answer = "Analytics"

print(question)
print(answer)

print(question + " " + answer) #concatenation using standard format
print(f"{question} {answer}") #concatenation using f-string format

#adding a line break
print(question + "\n" + answer) #adds a break to the line

type(answer)

What are you studying?
Analytics
What are you studying? Analytics
What are you studying? Analytics
What are you studying?
Analytics

str

In [10]:
len(answer)

9

In [16]:
#Indexing a String
answer[0] #first character
answer[2] #third character
answer[8] #ninth character

answer[-1] #last character

's'

In [20]:
course = "CTBA"
len(course)

print(course[0:2]) #first two characters

CT

In [23]:
#Functions and Methods
answer.upper() #this converts a variable to uppercase
print(answer.upper())

answer.lower() #this converts a variable to lowercase
print(answer.lower())

answer.find("t") #find the index of the first occurrence of "t"

ANALYTICS
analytics

5

In [ ]:
#Using the f function for strings
name = "Thirtha Poruthikode Unnivelan"
print("Hello, my name is" + " " + name + ". I am studying Business Analytics.")
print(f"Hello, my name is {name}. I am studying Business Analytics.")

Hello, my name is Thirtha Poruthikode Unnivelan. I am studying Business Analytics.
Hello, my name is Thirtha Poruthikode Unnivelan. I am studying Business Analytics.

In [ ]:
#Tuples
t1 = (1,2,3,4,5) #tuples are created using parenthesis
print(t1)

#t1[0] = 11 #tuples are immutable, so this will give an error

(1, 2, 3, 4, 5)

In [33]:
#Dictionaries
d1 = {"name": "Thirtha Poruthikode Unnivelan", "age": "22", "city": "Williamsburg"}
print(d1)
print(d1["name"])

d1["email"] = "tporuthikodeun@wm.edu"
print(d1)

{'name': 'Thirtha Poruthikode Unnivelan', 'age': '22', 'city': 'Williamsburg'}
Thirtha Poruthikode Unnivelan
{'name': 'Thirtha Poruthikode Unnivelan', 'age': '22', 'city': 'Williamsburg', 'email': 'tporuthikodeun@wm.edu'}

In [34]:
#Formatting the dictionary output with a for loop
for key, value in d1.items():
    print(key, ":", value)

name : Thirtha Poruthikode Unnivelan
age : 22
city : Williamsburg
email : tporuthikodeun@wm.edu

Dictionary of Dictionaries

In [37]:
people = {
    "person1" : {"name": "Thirtha Poruthikode Unnivelan", "age": 22, "city": "Williamsburg"},
    "person2" : {"name": "John Doe", "age": 30, "city": "Newport News"},
}

In [36]:
distances = {
    "A": {"B": 10, "C": 15},
    "B": {"A": 10, "C": 20},
    "C": {"A": 15, "B": 20},
}

In [41]:
gpa = {
    "Bryce": {"GPA": 3.8, "major": "MSBA", "courses": 1},
    "Mann": {"GPA": 3.8, "major": "MSBA", "courses": 2},
    "Tai": {"GPA": 3.8, "major": "MSBA", "courses": 1}
}
print(gpa)

{'Bryce': {'GPA': 3.8, 'major': 'MSBA', 'courses': 1}, 'Mann': {'GPA': 3.8, 'major': 'MSBA', 'courses': 2}, 'Tai': {'GPA': 3.8, 'major': 'MSBA', 'courses': 1}}

In [44]:
#If statements
x = 10
if x > 5:
    print("x is greater than 5")

#If else
x = 4
if x % 2 == 0:
    print("x is even")
else:
    print("x is odd")

#If elif else - use to check multiple conditions
x = 0
if x > 0:
    print("x is positive")
elif x == 0:
    print("zero")
else:
    print("x is negative")

x is greater than 5
x is even
zero

In [46]:
#for loop with an i and a range function
for i in range(5):
    print("i is ", i)

i is  0
i is  1
i is  2
i is  3
i is  4

In [ ]:
#while statements
x = 0
while x < 5:
    if x % 2 == 0:
        print(x, "is even")
    else:
        print(x, "is odd")
    x += 1
#while statements are different from for loops because you have manually do the increments in while statements, while for loops automatically do them

0 is even
1 is odd
2 is even
3 is odd
4 is even

In [50]:
import numpy as np

arr1 = np.array([1,2,3,4,5])
print(arr1)

[1 2 3 4 5]